.ade {
  flex-wrap: wrap;
}

.boxing {
  max-width: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.line-fist {
  display: flex;
  max-width: 945.18px;
  min-height: 411.68px;
  top: 585.26px;
  margin: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.small-box {
  width: 290px;
  min-height: 210.55px;
  margin: 8.68px;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  border-radius: 8px;
}
.small-box img {
  margin-left: 20px;
  margin-top: 20px;
}
.small-box h6 {
  margin-right: 15px;
  margin-top: 20px;
  margin-bottom: 5px;
}
.long-box {
  width: 376.47px;
  min-height: 200.55px;
  margin: 7.68px;
  margin-right: 10px;
}
.long-box p,
h5,
img {
  margin-top: 20px;
  margin-left: 15px;
}

.line {
  flex-wrap: wrap;
  background-color: #2b2b2b;
  width: 280.47px;
  height: 440.68px;
  margin-top: 60px;
  border-radius: 8px;
}

.line p,
h3 {
  margin-top: 20px;
  margin-left: 15px;
}

#people-img img {
  max-width: 182.8px;
  min-height: 197.39px;
  margin: auto;
  margin-top: 40px;
  flex-wrap: wrap;
  margin-left: 50px;
  border: 1px solid white;
}

.line p {
  text-align: left;
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 5px;
}
.big-bule {
  display: flex;
  margin-left: 10px;
  margin: 10px;
  border-radius: 8px;
  background-color: #1c1c1c;
}

.blu {
  width: 167.44px;
  height: 164.36px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
  background-color: #5b54ff;
}
.blu img {
  width: 35.89px;
  height: 25.43px;
  background-size: cover;
  background-color: #5b54ff;
}

.small-box p,
h6 {
  font-size: 15px;
  color: #8987a1;
  margin-left: 10px;
  margin-top: 15px;
  text-align: left;
  margin-bottom: 5px;
}

.ui-text {
  width: 372px;
  height: 55px;
  font-family: Raleway;
  margin-left: 10px;
}
